h1 {
    margin-top: 50px;
}

.text-content {
    margin-top: 70px;
}

.text-content h2 {
    font-size: 36px;
    font-weight: 500;
    line-height: 42px;
    color: black;
    margin-bottom: 50px;
}

.text-content p {
    font-size: 26px;
    color: black;
}