.header {
    width: 1440px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 50px;
    background: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.logo {
    width: 88px;
    height: 70px;
    cursor: pointer;
}

.links {
    width: 1000px;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    font-size: 30px;
}

.link {
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    color: #666666;
}

.link:hover {
    color: #446CDB;
    transition: 0.2s;
}

.phone {
    width: 109px;
    height: 42px;
    font-size: 36px;
    color: #446CDB;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}

.phone img {
    width: 29px;
    height: 29px;
    margin-left: 10px;
    margin-top: 12px;
}